@{
    ViewData["Title"] = "Manage Team Members";
}

<!--==========================
    Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewData["Title"]</h2>
        </div>

        <vc:admin-our-team></vc:admin-our-team>

    </div>
</section><!-- #team -->
