<div class="col-lg-6 content">
    <h2>Оur mission is to bring comfort to your home.</h2>
    <h3>
        Our team consists of young, ambitious and erudite specialists who are prepared to meet your needs and help to transform your ideas into reality.
    </h3>
    <p>
        We are happy to offer to our customers:
    </p>
    <ul>
        <li>
            <i class="icon ion-ios-checkmark-outline"></i> Ready to use solutions for your home interior design.
        </li>
        <li>
            <i class="icon ion-ios-checkmark-outline"></i> Individual consultation with our designers.
        </li>
        <li>
            <i class="icon ion-ios-checkmark-outline"></i> Individual interior design project for you.
        </li>
        <li>
            <i class="icon ion-ios-checkmark-outline"></i> Large scale of ready to use furniture in our showroom.
        </li>
    </ul>
</div>