@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="close" aria-label="Close" style="text-decoration: none;">
            <span aria-hidden="true">&times;</span>
        </a>
        @Model
    </div>
}
