@{
    ViewData["Title"] = "Our Team";
}

<!--==========================
    Our Team Section
============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewData["Title"]</h2>
        </div>

        <vc:our-team></vc:our-team>

    </div>
</section><!-- #team -->
