@{
    ViewData["Title"] = "Interior Design";
    ViewData["SubTitle"] = "Furnishing your home";
}

<!--==========================
    Intro Section
============================-->
<section id="intro" class="wow fadeInUp">

    <div class="intro-content">
        <h2>
            <span style="text-transform: none;">@ViewData["Title"]</span>
            <br>
            @ViewData?["SubTitle"]?.ToString()?.ToUpper()
        </h2>
        <div>
            <!-- Contact Us Button -->
            <a asp-area=""
                asp-controller="Contact"
                asp-action="Index"
                class="btn-get-started"
                onclick="displayBusyIndicator()">
                    Contact Us
            </a>
        </div>
    </div>
    <partial name="_IntroPartial" />
</section><!-- #intro -->
