@{
    ViewData["Title"] = "Manage Testimonials";
}

<section id="team" class="wow fadeInUp">
    <div class="container" style="margin-top: -4rem;">
        <div class="section-header">
            <h2>@ViewData["Title"]</h2>
        </div>
        <vc:admin-testimonial></vc:admin-testimonial>
    </div>
</section>
