@{
    ViewData["Title"] = "Gallery";
}

<!--==========================
        Our Portfolio Section
    ============================-->
@*<section id="portfolio" class="wow fadeInUp">*@
<section id="portfolio" style="padding-top: 4rem;">
    <div class="container">
        <div class="section-header">
            <h2>Interior Design Gallery</h2>
            <p>
                Here you can see some examples of rooms furnished with our products.
            </p>
            <p>
                Enjoy the art of Interior Design.
            </p>
        </div>
    </div>

    <vc:gallery></vc:gallery>
 
</section><!-- #portfolio -->