@model TestimonialViewModel

<div class="testimonial-item"
     style="display:flex; flex-direction: column; justify-content: space-between;">
    <p>@Model.Content</p>
    <div style="margin: 0; padding: 0;">
        <h3>@Model.Author</h3>
        <h4>@Model.Title</h4>
    </div>
</div>