@model IEnumerable<TestimonialViewModel>

<section id="testimonials" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Testimonials</h2>
            <p>See feedback from our customers:</p>
        </div>
        <div class="owl-carousel testimonials-carousel">
            @foreach (var testimonial in Model)
            {
                <partial name="_TestimonialPartial.cshtml" , model=testimonial />
            }
        </div>
    </div>
</section>
